@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 16px;
    --white30:white;
    --white20:#A5A3A5;
    --white10:#616161;
}

body {
    color: var(--white30);
    font-family: 'Roboto', sans-serif;
    /*font-family: charter;*/
    background: #251F24;
}

a {
    color: var(--white30);
}

header {
    font-size: 14px; 
    color: var(--white);
}

header li {
    color: var(--white20);
}

header a {
    /*color: var(--white20);*/
    text-decoration: none;
} 
header a:hover {
    color: var(--white);
}

nav details summary {
font-weight: bold;
}

h1 {
    font-size: 60px;
    /* font-size: 3.75em;*/
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 24px;
   /* font-size: 1.5em;*/
}

pre {
    background: #fec62e;
}

p {
    color: var(--white20);
}

.hero {
    background-image: linear-gradient(to top,rgba(255,255,255,.3), transparent), url('../Images/patron-1.png');
    /*background-repeat: no-repeat; por si quieres que no se repita el patrón*/
    /*background-position: left 50px bottom -50px; por si quieres acomodarlo en otras posiciones*/
    height: 350px;
}

.section-content {
    counter-reset: titlelist;
}

.section-content h3 {
    counter-increment: titlelist;
}

.section-content h3::before {
    content: counter(titlelist, decimal);
}

.section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--white30);
    display: inline-block;
}